{% extends "base.html" %}
{% block title %}Личный кабинет{% endblock %}
{% block content %}

<h1>Досуг для тебя</h1>
<div style="width: 80%; height: 400px; margin-bottom: 15px; margin-left: auto; margin-right: auto;" id="yamap"> </div>
{% if user.organizerprofile %}
<a href="{% url 'event_create' %}" class="create"><button style="margin-top: 5px; background-color: #0140ff;
color: white; padding: 10px 20px; border-radius: 5px; cursor: pointer; width: 100%;">Добавить мероприятие</button></a>
{%endif%}
{% if objects %}
<div class="card-group">
    {% for object in objects %}
    <div class="col-md-4">
        <div class="w-100 h-100 card">
            <img class="card-img-top" src="{{ object.image.url }}" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">{{ post.title }}</h5>
                <p class="card-text">{{ object.description | safe }}</p>
                <a href="{% url 'details' object.pk %}" class="card-link">Подробнее</a>
                <p class="card-text">Состоится {{ object.date }}</p>
                <p class="card-text">Регистрация до {{ object.end_reg }}</p>
                <button class="open-map" style=" margin-top: 10px; background-color: #72AF6D; 
                    color: white; padding: 10px 20px; border-radius: 5px; border: none; cursor: pointer; width: 100%;"
                    data-coord="[53.193980411861844, 50.2090119236439]">Посмотреть на карте</button>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endif %}
{% endblock %}