{% extends "base.html" %}
{% block title %}Вход{% endblock %}
{% block content %}
<h1>Вход</h1>
{% if form.errors %}
<p>
    Логин и пароль не подходят. Пожалуйста, попробуйте еще раз.
</p>
{% endif %}
<p>Пожалуйста, используйте форму для входа в систему.
 Если у вас нет аккаунта:
 <a href="{% url 'register' %}">регистрация</a>.</p>
<div class="login-form">
    <form action="{% url 'login' %}" method="post">
        {{ form.as_p }}
        {% csrf_token %}
        <input type="hidden" name="next" value="{{ next }}"/>
        <p><input type="submit" value="Log-in"></p>
    </form>
    <p>
        <a href="{% url 'password_reset' %}">
        Забыли пароль?
        </a>
    </p>
</div>
{% endblock %}